/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(171, 193, 240, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


form{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;

}


.form button{
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background: #4e75ff;
border: none;
color: #fff;
}

button:hover {
  background: #6c8cff;
}

input{
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: rgba(204, 217, 245, 0.87);

}


.form input:focus {
  outline: none;
  border-color: #3a20cf;
  font-size: 16px; /* збільшений розмір тексту при фокусі */
}

.input:active {
  background-color: #e0ffe0; /* змінений колір фону при натисканні */
}

input:hover {
  border: 1px solid #030c13;
  cursor: pointer;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item{
  width: 360px;
 height: 200px;
 border: 1px solid #808080;
}

.gallery-item img{
  width: 100%;
  height: calc(100% - 48px);
  object-fit: cover;

}

.gallery-item .info{
  display: flex;
  justify-content: space-around;

}





.info-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding-top: 4px;
  padding-bottom: 4px;
}

.info-value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-more{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #4e75ff;
border: none;
color: #fff;
border-radius: 8px;
}

.loader {
  color: #2e2f42;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

